/*decoration&rwd of index.html*/

/*navbar*/
#mbutton {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index:20;
    cursor: pointer;
}

#gotopbutton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index:20;
    cursor: pointer;
}

/*segment-1背景輪播效果*/
#logo {
    width: 100%;
    background-size: cover;
    background-image: url("http://i.imgur.com/cBJYaDH.jpg");
    background-position: 0px 0px;
    background-repeat: repeat-x;

    -webkit-animation: bgMove 40s linear infinite;
    -moz-animation: bgMove 40s linear infinite;
    -ms-animation: bgMove 40s linear infinite;
    -o-animation: bgMove 40s linear infinite;
    animation: bgMove 40s linear infinite;  
}

@-webkit-keyframes bgMove {
    from {background-position:0% 0%;}
    to {background-position: 4412px 0%;}
}
@-moz-keyframes bgMove {
    from {background-position:0% 0%;}
    to {background-position: 4412px 0%;}
}
@-ms-keyframes bgMove {
    from {background-position:0% 0%;}
    to {background-position: 4412px 0%;}
}
@keyframes bgMove {
    from {background-position:0% 0%;}
    to {background-position: 4412px 0%;}
}

/*sponsor background transparent effect*/
.ui.sponsor.segment {
    background: rgba(29, 94, 175, 0.35);
}

#intro {
    background-image: url("http://i.imgur.com/pUJi0wT.png");
    background-size: cover;
}


#NEWS {
    background-image: url("/img/2016es.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.fb-left {
    background: rgba(232, 236, 241, 0.53);
}


#insert {
    border: rgba(0,0,0,.4) solid 5px;
    border-radius: 5px;
    height: 405px;
    overflow-y: scroll;
}

#detail {
    background-image: url("http://i.imgur.com/njndH2k.png");
    background-attachment: fixed;
    background-size: cover;
    /*background:-webkit-linear-gradient(#85BEE8,#14476D);*/
}

.re-img {
    max-width: 75%;
}

.ui.piled.segment{
    background: rgba(120, 130, 191, 0.31);
    border: 3px solid rgba(24, 50, 144, 0.98);
}

.ui.grid>.row>.column>img, .ui.grid>.row>img {
    max-width: 50%;
}

#report {
    background-image: url("http://i.imgur.com/YW0DJ31.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.section {
    padding: 20px 0;
}

.space {
    height: 120px;
}

.ui.segment{
    background: rgba(0, 37, 77, 0.31);
}

.card {
    text-align: center;
}

/*規章拖曳框*/
#insert2-2 {
    height: 360px; overflow-y: scroll;
}
/*規章名稱於width<647px時套用scroll效果*/
@media (max-width: 647px){
    .ui.top.attached.tabular.menu {
      overflow-x: scroll;
    }
}


/* rwd */
@media (min-width: 700px){
    .visible.on.xs{
        display: none;
    }
}

@media (max-width: 700px){
    .visible.having.sm{
        display: none;
    }
}

@media (max-width: 700px){
    .visible.on.sm{
        display: none;
    }
}

@media (min-width: 1050px){
    .visible.on.sm{
        display: none;
    }
}

@media (max-width: 1050px){
    .visible.on.md{
        display: none;
    }
}

@media (max-width: 1050px){
    .visible.having.md{
        display: none;
    }
}

@media (min-width: 1050px){
    .visible.no.md{
        display: none;
    }
}

@media (min-width: 1400px){
    .visible.on.md{
        display: none;
    }
}

@media (max-width: 1400px){
    .visible.on.lg{
        display: none;
    }
}

@media (min-width: 1400px){
    .visible.no.lg{
        display: none;
    }
}



.fb-side-330px-580px-container {
  position: relative;
  min-height: 580px;
}
.fb-side-330px-580px-container .fb-right {
  text-align: center;
}
.fb-page.fb_iframe_widget {
  border: rgba(0,0,0,.4) solid 5px;
  border-radius: 5px;
}

@media (min-width: 700px){
  .fb-side-330px-580px-container .fb-left {
    margin-right: 280px;
  }
  .fb-side-330px-580px-container .fb-right {
    position: absolute;
    top: 0;
    right: 0;
  }
}



ul, li {
   margin:0;
   padding:0;
}
li {
   list-style:none;
   float:left;
}
.grey {
   color:#616161;/*フォントとアイコンの色*/
}
.animation_button {
   background:#83BEC5;/*背景色*/
   width:80px;
   height:68px;
   margin:10px 5px;
   text-align:center;
   line-height:1.4;
   padding:12px 10px 10px;
   border-radius: 80px;
   -webkit-border-radius: 80px;/*Safari & Chrome */
   transiton:all 0.5s ease;/*アニメーションの設定*/
   -webkit-transition: all 0.5s ease;/*Safari & Chrome */
   -moz-transition: all 0.5s ease;/*FireFox */
   -ms-transition: all 0.5s ease;/*IE*/
   border:2px solid #F2F2F2;
   font-family: 'Open Sans Condensed', sans-serif;
   float:left;
   font-weight:bold;
}
.animation_button:hover{/*マウスオーバー時*/
   background:#F76D8A;/*背景色*/
   animation: kaiten 1s;
   animation-iteration-count: 1;/*アニメーションの繰り返し回数*/
   -webkit-animation: kaiten 1s; /*Safari & Chrome */
   -webkit-animation-iteration-count: 1;/*Safari & Chrome */
}
 
@keyframes kaiten {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); } 
 
}
@-webkit-keyframes kaiten { /*Safari & Chrome */
   0% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(360deg); } 
}
