
/* rwd */
@media (min-width: 700px){
    .visible.on.xs{
        display: none;
    }
}

@media (max-width: 700px){
    .visible.having.sm{
        display: none;
    }
}

@media (max-width: 700px){
    .visible.on.sm{
        display: none;
    }
}

@media (min-width: 1050px){
    .visible.on.sm{
        display: none;
    }
}

@media (max-width: 1050px){
    .visible.on.md{
        display: none;
    }
}

@media (max-width: 1050px){
    .visible.having.md{
        display: none;
    }
}

@media (min-width: 1050px){
    .visible.no.md{
        display: none;
    }
}

@media (min-width: 1400px){
    .visible.on.md{
        display: none;
    }
}

@media (max-width: 1400px){
    .visible.on.lg{
        display: none;
    }
}

@media (min-width: 1400px){
    .visible.no.lg{
        display: none;
    }
}


